---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">This page may not be updated in time, you can also find my articles on <a href="https://scholar.google.com/citations?hl=en&user=ms6BTK4AAAAJ">Google Scholar</a>, <a href="https://www.semanticscholar.org/author/Bin-Bin-Jia/66683124">Semantic Scholar</a>, <a href="https://dblp.uni-trier.de/pid/245/3634.html">DBLP</a>, <a href="https://www.researchgate.net/profile/Bin-Bin-Jia">ResearchGate</a>.</div>
{% endif %}

{% include base_path %}


<hr>
<p align="justify" style="line-height: 150%">&nbsp;&nbsp; <b>
<font face="Times New Roman"><a name="Journal"></a><font size="4">Journal Article</font></font></b></p>
<ul>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, J.-Y. Liu, 
	M.-L. Zhang. <a>Instance-specific 
	loss-weighted decoding for decomposition-based multi-class classification</a>.
	<b>IEEE Transactions on Neural Networks and Learning Systems</b>, <i>in 
	press</i>. </font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang. <a>Multi-dimensional classification: paradigm, algorithms and beyond</a>. <b>Vicinagearth</b>, 2024, 1(1): Article 3. </font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, J.-Y. Liu, M.-L. Zhang. <a>Towards exploiting linear regression for multi-class/multi-label classification: an empirical analysis</a>. <b>International Journal of Machine Learning and Cybernetics</b>, 
	2024, 15(9): 3671-3700. </font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang. <a>Supervised dimensionality reduction for multi-dimensional classification (in Chinese)</a>. <b>SCIENTIA SINICA Informationis</b>, 2023, 53: 2325-2340. </font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman">B.-Q. Liu, <u>B.-B. Jia</u>, 
	M.-L. Zhang. <a>Towards enabling binary decomposition for partial multi-label learning</a>. <b>IEEE Transactions on Pattern Analysis and Machine 
	Intelligence</b>, 2023, 45(11): 13203-13217. </font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a>Multi-dimensional classification via decomposed 
	label encoding</a>. <b>IEEE Transactions on Knowledge and Data Engineering</b>,
	2023, 35(2): 1844-1856. </font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a>Multi-dimensional multi-label classification: 
	Towards encompassing heterogeneous label spaces and multi-label annotations</a>.
	<b>Pattern Recognition</b>, 2023, 138: Article 109357. </font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, J.-Y. Liu, J.-Y. 
	Hang, M.-L. Zhang. <a>Learning label-specific 
	features for decomposition-based multi-class classification</a>. <b>Frontiers of Computer Science</b>, 
	2023, 17(6): Article 176348. </font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a>Maximum margin multi-dimensional classification</a>.
	<b>IEEE Transactions on Neural Networks and Learning Systems</b>, 2022, 
	33(12): 7185-7198. </font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a>Decomposition-based classifier chains for 
	multi-dimensional classification</a>. <b>IEEE Transactions on Artificial 
	Intelligence</b>, 2022, 3(2): 176-191. </font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang. 
	<a>Multi-dimensional classification via selective feature augmentation</a>. 
	<b>Machine Intelligence Research</b>, 2022, 19(1): 38-51. </font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a>Multi-dimensional classification via stacked 
	dependency exploitation</a>. <b>Science China Information Sciences</b>, 
	2020, 63(12): Article 222102.</font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a>Multi-dimensional classification via <i>k</i>NN 
	feature augmentation</a>. <b>Pattern Recognition</b>, 2020, 106: Article 
	107423.</font></span></li>
</ul>
<hr>
<p align="justify" style="line-height: 150%"><b><font face="Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a name="Conference"></a><font size="4">Conference Paper</font></font></b></p>
<ul>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<font face="Times New Roman">Y.-Y. Zhang, <u>B.-B. Jia</u>, M.-L. Zhang.
	<a>Evolutionary classifier chain for 
	multi-dimensional classification</a>. In: </font><span lang="en-us">
	<font face="Times New Roman"><b>
	Proceedings of the 39th AAAI Conference on Artificial Intelligence (AAAI'25)</b>,
	<i>in press</i>.</font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<font face="Times New Roman">T. Huang, <u>B.-B. Jia</u>, M.-L. Zhang.
	<a>Deep multi-dimensional classification with 
	pairwise dimension-specific features</a>. In: <b>Proceedings of 
	the 33rd International Joint Conference on Artificial Intelligence (IJCAI'24)</b>, 
	Jeju, South Korea, 2024, 4183-4191.</font></li>
	<li>
    <p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<font face="Times New Roman">T. Huang, <u>B.-B. Jia</u>, M.-L. Zhang.
	<a>Progressive label propagation for 
	semi-supervised multi-dimensional classification</a>. In: <b>Proceedings of 
	the 32nd International Joint Conference on Artificial Intelligence (IJCAI'23)</b>, 
	Macau, China, 2023, 3821-3829. </font></li>
	<li>
    <p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a>Multi-dimensional classification via sparse 
	label encoding</a>. In: </font><span lang="en-us"><font face="Times New Roman"> <b>Proceedings of the 
	38th International Conference on Machine Learning (ICML'21)</b>, 
	Virtual Conference, 2021, 4917-4926. </font></span></li>
	<li>
    <p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a>Maximum margin multi-dimensional classification</a>. 
	In: </font><span lang="en-us">
	<font face="Times New Roman"> <b>
	Proceedings of the 34th AAAI Conference on Artificial Intelligence (AAAI'20)</b>, 
	New York, NY, 2020, 4312-4319.</font></span></li>
	<li>
    <p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a>MD-<i>k</i>NN: An instance-based approach for 
	multi-dimensional classification</a>. In: <b>Proceedings of the 25th 
	International Conference on Pattern Recognition (ICPR'20)</b>, Milan, Italy,
	126-133.</font></span></li>
	<li>
    <p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a>Multi-dimensional classification via <i>k</i>NN 
	feature augmentation</a>. In: </font><span lang="en-us">
	<font face="Times New Roman"> <b>
	Proceedings of the 33rd AAAI Conference on Artificial Intelligence (AAAI'19)</b>, 
	Honolulu, HI, 2019, 3975-3982.</font></span></li>
</ul>
