---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">This page may not be updated in time, you can also find my articles on <a href="https://scholar.google.com/citations?hl=en&user=ms6BTK4AAAAJ">Google Scholar</a>, <a href="https://www.semanticscholar.org/author/Bin-Bin-Jia/66683124">Semantic Scholar</a>, <a href="https://dblp.uni-trier.de/pid/245/3634.html">DBLP</a>, <a href="https://www.researchgate.net/profile/Bin-Bin-Jia">ResearchGate</a>.</div>
{% endif %}

{% include base_path %}


<hr>
<p align="justify" style="line-height: 150%">&nbsp;&nbsp; <b>
<font face="Times New Roman"><a name="Journal"></a><font size="4">Journal Article</font></font></b></p>
<ul>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman">J.-Y. Liu, J.-P. Sun, Y.-H. Zhao, <u>B.-B. Jia</u>, M.-L. Zhang.
	<a href="https://doi.org/10.1016/j.patcog.2025.112138">Partial label learning with semi-supervised clustering disambiguation</a>.
	<b>Pattern Recognition</b>, 2026, 171: Article 112138. [<a href="https://github.com/liujunying-ai/PLOD">code</a>]</font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, J.-Y. Liu, 
	M.-L. Zhang. <a href="https://doi.org/10.1109/TNNLS.2024.3454598">Instance-specific 
	loss-weighted decoding for decomposition-based multi-class classification</a>.
	<b>IEEE Transactions on Neural Networks and Learning Systems</b>, 2025, 36(6): 11298-11312. [<a href="https://jiabinbin-ai.github.io/files/ILW.zip">code</a>]</font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, J.-Y. Liu, 
	M.-L. Zhang. <a href="https://journal.hep.com.cn/fcs/EN/10.1007/s11704-025-41325-0">
	Pairwise statistical comparisons of multiple algorithms</a>.
	<b>Frontiers of Computer Science</b>, 2025, 19(12): Article 1912372. [<a href="https://github.com/jiabinbin-ai/pairwise_compare">code</a>]</font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang. <a href="https://doi.org/10.1007/s44336-024-00004-7">Multi-dimensional classification: paradigm, algorithms and beyond</a>. <b>Vicinagearth</b>, 2024, 1(1): Article 3. [<a href="https://github.com/jiabinbin-ai/articles-on-MDC/">Paper List</a>] [<a href="https://palm.seu.edu.cn/zhangml/Resources.htm#MDC_data">data</a>]</font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, J.-Y. Liu, M.-L. Zhang. <a href="https://doi.org/10.1007/s13042-024-02114-6">Towards exploiting linear regression for multi-class/multi-label classification: an empirical analysis</a>. <b>International Journal of Machine Learning and Cybernetics</b>, 
	2024, 15(9): 3671-3700. </font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang. <a href="https://doi.org/10.1360/SSI-2022-0363">Supervised dimensionality reduction for multi-dimensional classification</a> (in Chinese). <b>SCIENTIA SINICA Informationis</b>, 2023, 53: 2325-2340. [<a href="https://jiabinbin-ai.github.io/files/SDeM.zip">code</a>] [<a href="https://palm.seu.edu.cn/zhangml/Resources.htm#MDC_data">data</a>]</font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman">B.-Q. Liu, <u>B.-B. Jia</u>, 
	M.-L. Zhang. <a href="https://doi.org/10.1109/TPAMI.2023.3290797">Towards enabling binary decomposition for partial multi-label learning</a>. <b>IEEE Transactions on Pattern Analysis and Machine 
	Intelligence</b>, 2023, 45(11): 13203-13217. [<a href="https://jiabinbin-ai.github.io/files/PAMB.rar">code</a>]</font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a href="https://doi.org/10.1109/TKDE.2021.3100436">Multi-dimensional classification via decomposed 
	label encoding</a>. <b>IEEE Transactions on Knowledge and Data Engineering</b>,
	2023, 35(2): 1844-1856. [<a href="https://jiabinbin-ai.github.io/files/DLEM.zip">code</a>] [<a href="https://palm.seu.edu.cn/zhangml/Resources.htm#MDC_data">data</a>]</font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a href="https://doi.org/10.1016/j.patcog.2023.109357">Multi-dimensional multi-label classification: 
	Towards encompassing heterogeneous label spaces and multi-label annotations</a>.
	<b>Pattern Recognition</b>, 2023, 138: Article 109357. [<a href="https://jiabinbin-ai.github.io/files/CLIM.rar">code</a>]</font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, J.-Y. Liu, J.-Y. 
	Hang, M.-L. Zhang. <a href="https://journal.hep.com.cn/fcs/EN/10.1007/s11704-023-3076-y">Learning label-specific 
	features for decomposition-based multi-class classification</a>. <b>Frontiers of Computer Science</b>, 
	2023, 17(6): Article 176348. [<a href="https://jiabinbin-ai.github.io/files/LSFMultiClass.rar">code</a>]</font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a href="https://doi.org/10.1109/TNNLS.2021.3084373">Maximum margin multi-dimensional classification</a>.
	<b>IEEE Transactions on Neural Networks and Learning Systems</b>, 2022, 
	33(12): 7185-7198. [<a href="https://doi.org/10.1609/aaai.v34i04.5855">Conference 
	version</a>][<a href="https://jiabinbin-ai.github.io/files/M3MDC.rar">code</a>] 
	[<a href="https://palm.seu.edu.cn/zhangml/Resources.htm#MDC_data">data</a>]</font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a href="https://doi.org/10.1109/TAI.2021.3110935">Decomposition-based classifier chains for 
	multi-dimensional classification</a>. <b>IEEE Transactions on Artificial 
	Intelligence</b>, 2022, 3(2): 176-191. [<a href="https://jiabinbin-ai.github.io/files/DCC.zip">code</a>] 
	[<a href="https://palm.seu.edu.cn/zhangml/Resources.htm#MDC_data">data</a>]</font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang. 
	<a href="https://www.mi-research.net/article/doi/10.1007/s11633-022-1316-5">Multi-dimensional classification via selective feature augmentation</a>. 
	<b>Machine Intelligence Research</b>, 2022, 19(1): 38-51. [<a href="https://jiabinbin-ai.github.io/files/SFAM.zip">code</a>] 
	[<a href="https://palm.seu.edu.cn/zhangml/Resources.htm#MDC_data">data</a>]</font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a href="https://www.sciengine.com/SCIS/doi/10.1007/s11432-019-2905-3">Multi-dimensional classification via stacked 
	dependency exploitation</a>. <b>Science China Information Sciences</b>, 
	2020, 63(12): Article 222102. [<a href="https://jiabinbin-ai.github.io/files/SEEM.zip">code</a>] 
	[<a href="https://palm.seu.edu.cn/zhangml/Resources.htm#MDC_data">data</a>]</font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a href="https://doi.org/10.1016/j.patcog.2020.107423">Multi-dimensional classification via <i>k</i>NN 
	feature augmentation</a>. <b>Pattern Recognition</b>, 2020, 106: Article 
	107423. [<a href="https://doi.org/10.1609/aaai.v33i01.33013975">Conference 
	version</a>][<a href="https://jiabinbin-ai.github.io/files/KRAM.rar">code</a>] 
	[<a href="https://palm.seu.edu.cn/zhangml/Resources.htm#MDC_data">data</a>]</font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman">J.-Y. Liu, <u>B.-B. Jia</u>.
	<a href="https://doi.org/10.1109/ACCESS.2020.3034448">Combining one-vs-one decomposition and instance-based learning for multi-class classification</a>. <b>IEEE Access</b>, 2020, 8: 197499-197507. [<a href="https://github.com/liujunying-ai/CODIL">code</a>]</font></span></li>
</ul>
<hr>
<p align="justify" style="line-height: 150%"><b><font face="Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a name="Conference"></a><font size="4">Conference Paper</font></font></b></p>
<ul>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<font face="Times New Roman">T. Huang, <u>B.-B. Jia</u>, M.-L. Zhang.
	<a>Towards escaping from class dependency modeling for 
	multi-dimensional classification</a>. In: </font><span lang="en-us">
	<font face="Times New Roman"><b>
	Proceedings of the 42nd International Conference on Machine Learning (ICML'25)</b>,
	<i>in press</i>. [<a href="https://github.com/tengingit/DCOM-ICML-25">code</a>]</font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<font face="Times New Roman">Y.-Y. Zhang, <u>B.-B. Jia</u>, M.-L. Zhang.
	<a href="https://doi.org/10.1609/aaai.v39i21.34423">Evolutionary classifier chain for 
	multi-dimensional classification</a>. In: </font><span lang="en-us">
	<font face="Times New Roman"><b>
	Proceedings of the 39th AAAI Conference on Artificial Intelligence (AAAI'25)</b>,
	Philadelphia, PA, USA, 2025, 22641-22649. [<a href="https://jiabinbin-ai.github.io/files/ECCO.rar">code</a>] [<a href="https://palm.seu.edu.cn/zhangml/Resources.htm#MDC_data">data</a>]</font></span></li>
	<li>
	<p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<font face="Times New Roman">T. Huang, <u>B.-B. Jia</u>, M.-L. Zhang.
	<a href="https://www.ijcai.org/proceedings/2024/462">Deep multi-dimensional classification with 
	pairwise dimension-specific features</a>. In: <b>Proceedings of 
	the 33rd International Joint Conference on Artificial Intelligence (IJCAI'24)</b>, 
	Jeju, South Korea, 2024, 4183-4191. [<a href="https://jiabinbin-ai.github.io/files/PIST.zip">code</a>] [<a href="https://palm.seu.edu.cn/zhangml/Resources.htm#MDC_data">data</a>]</font></li>
	<li>
    <p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<font face="Times New Roman">T. Huang, <u>B.-B. Jia</u>, M.-L. Zhang.
	<a href="https://doi.org/10.24963/ijcai.2023/425">Progressive label propagation for 
	semi-supervised multi-dimensional classification</a>. In: <b>Proceedings of 
	the 32nd International Joint Conference on Artificial Intelligence (IJCAI'23)</b>, 
	Macau, China, 2023, 3821-3829. [<a href="https://jiabinbin-ai.github.io/files/PLAP.zip">code</a>] [<a href="https://palm.seu.edu.cn/zhangml/Resources.htm#MDC_data">data</a>]</font></li>
	<li>
    <p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a href="http://proceedings.mlr.press/v139/jia21c.html">Multi-dimensional classification via sparse 
	label encoding</a>. In: </font><span lang="en-us"><font face="Times New Roman"> <b>Proceedings of the 
	38th International Conference on Machine Learning (ICML'21)</b>, 
	Virtual Conference, 2021, 4917-4926. [<a href="https://jiabinbin-ai.github.io/files/SLEM.rar">code</a>] [<a href="https://palm.seu.edu.cn/zhangml/Resources.htm#MDC_data">data</a>]</font></span></li>
	<li>
    <p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a href="https://doi.org/10.1609/aaai.v34i04.5855">Maximum margin multi-dimensional classification</a>. 
	In: </font><span lang="en-us">
	<font face="Times New Roman"> <b>
	Proceedings of the 34th AAAI Conference on Artificial Intelligence (AAAI'20)</b>, 
	New York, NY, 2020, 4312-4319. [<a href="https://jiabinbin-ai.github.io/files/M3MDC.rar">code</a>] 
	[<a href="https://palm.seu.edu.cn/zhangml/Resources.htm#MDC_data">data</a>]</font></span></li>
	<li>
    <p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<span lang="en-us"><font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a href="https://doi.org/10.1109/ICPR48806.2021.9412974">MD-<i>k</i>NN: An instance-based approach for 
	multi-dimensional classification</a>. In: <b>Proceedings of the 25th 
	International Conference on Pattern Recognition (ICPR'20)</b>, Milan, Italy,
	126-133. [<a href="https://jiabinbin-ai.github.io/files/MD-kNN.zip">code</a>] [<a href="https://palm.seu.edu.cn/zhangml/Resources.htm#MDC_data">data</a>]</font></span></li>
	<li>
    <p align="justify" style="line-height: 150%; margin-top:8px; margin-bottom:0">
	<font face="Times New Roman"><u>B.-B. Jia</u>, M.-L. Zhang.
	<a href="https://doi.org/10.1609/aaai.v33i01.33013975">Multi-dimensional classification via <i>k</i>NN 
	feature augmentation</a>. In: </font><span lang="en-us">
	<font face="Times New Roman"> <b>
	Proceedings of the 33rd AAAI Conference on Artificial Intelligence (AAAI'19)</b>, 
	Honolulu, HI, 2019, 3975-3982. [<a href="https://jiabinbin-ai.github.io/files/KRAM.rar">code</a>] 
	[<a href="https://palm.seu.edu.cn/zhangml/Resources.htm#MDC_data">data</a>]</font></span></li>
</ul>
